 /*h1{
    margin-left: 45%;
    margin-top: 30%;
}*/
*{
    padding: 0;
    margin: 0;
}
.lorem{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flex{
    display: flex;
    border: 1px solid green;
    height: auto;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

